/* EmailUpdateComponent.css */


h2,
h3 {
  color: #4285f4;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.text-light {
  color: #fff; /* White text for dark mode */
}

.text-dark {
  color: #333; /* Default dark text for light mode */
}

.input-text-for-announcement,
textarea {
  margin-top: 5px;   /* Space above input fields */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-file-upload {
  margin-top: 5px;
}

button.send-button {
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

button.send-button:hover {
  background-color: #357ae8;
}

.ck-editor__editable {
  min-height: 500px;
}

.email-update-container {
  padding: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.editor {
  flex: 1;
  /* Editor takes up remaining space */
  margin-right: 20px;
  /* Add some spacing between editor and email inputs */
}

.title-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.editor h2 {
  margin-top: 0;
  /* Remove top margin for the heading */
}

.emails {
  margin-top: 65px;
  padding: 20px;
  border: solid 1px #cacaca;
  border-radius: 20px;
  width: 300px;
  /* Set a fixed width for the email inputs container */
}

.emails h3 {
  margin-top: 0;
  /* Remove top margin for the email input headings */
}

.email-content-preview-section {
  margin: 2rem;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.email-content-preview {
  padding: 20px;
  margin-top: 20px;
  position: relative;
}

.email-content-preview-title {
  background: #fff;
  color: #000;
  padding: 0 10px;
  font-size: 18px;
}

/* Responsive design: Adjusts the preview section on smaller screens. */
@media (max-width: 768px) {
  .email-content-preview {
    margin-top: 10px;
    /* Reduce margin top on smaller screens */
  }
}

.imgur-button{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

:root {
  --imgur-icon-primary: #33c481;
  --imgur-icon-secondary: #21a366;
  --imgur-icon-tertiary: #124787;
}

.toggle-off {
  --imgur-icon-primary: #ccc;
  --imgur-icon-secondary: #999;
  --imgur-icon-tertiary: #666;
}

.imgur-icon{
  width: 100%;
  height: 100%;
}

.imgur-post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10vw;
}

.imgur-post-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imgur-preview-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.imgur-preview-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.imgur-preview-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.imgur-preview-description {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  word-wrap: break-word; 
  white-space: normal; 
  text-overflow: ellipsis;
}

.imgur-preview-remove-button {
  margin-top: 10px; 
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.scheduled-posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.scheduled-post-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scheduled-post-card h5 {
  margin-top: 0;
}

.scheduled-post-files {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.scheduled-post-file {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: calc(50% - 10px); /* Two items per row with a gap of 10px */
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.scheduled-post-file p {
  margin: 5px 0;
}

.scheduled-post-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.delete-button:hover {
  background-color: #ff1a1a;
}