.warnings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning-item-container {
  display: flex;
  flex-direction: column;
}
.warning-wrapper {
  max-height: 200px;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.icons-wrapper {
  display: flex;
}
.warning-icons {
  display: flex;
}

.warning-text {
  text-align: center;
  font-size: 1em;
  margin: 0;
  margin-bottom: 0.3em;
}

.popover-body {
  text-align: center;
}

.error-container {
  /* max-height: 200px; */
  max-width: 150px;
  display: flex;
}

.warning-modal-footer {
  display: grid !important;
  justify-content: center !important;
  grid-template-columns: 1fr 1fr !important;
  grid-gap: 1em !important;
}

.button__container {
  display: flex;
  margin-top: 0.1em;
}

.tracking__btn {
  margin-right: 0.3em;
}
.warnings__descriptions {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
  text-align: left;

  padding: 0.5em 1em;
  background: rgb(245, 244, 244);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 0px;
}
.warnings__descriptions p {
  margin: 0 0.5em 0 0.5em;
  font-weight: bold;
  font-size: 1em;
}
.warning__descriptions__btn {
  padding: 0 !important;
  font-size: 1rem;
  width: 30px !important;
  height: 30px !important;
  margin: 0em 0.2em !important;
  width: auto;
  border-radius: 5px;
  margin: 0;
}

.warnings__descriptions__title--gray {
  opacity: 0.6;
}

.btn__container {
  display: flex;
  justify-content: center;
}

.add__btn {
  margin-top: 0.5em;
  padding: 0.3em 0.5em !important;
}
.cancel__btn {
  margin-left: 0.5em;
}

.warning__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warning__title {
  margin: 0;
}

.warning__input {
  border-radius: 3px;
  border: 1px solid #000;
  margin: 0.3em 0 0.5em 0;
  padding: 0.5em 1em;
  width: 250px;
}
.warning__reorder {
  width: 18px;
  height: 18px;
  cursor: grab;
  margin-right: 1em;
}

.modal__information {
  text-align: left;
  font-size: 1.2rem;
  font-weight: semi-bold;
  margin: 0.5em 0;
}
