.warnings-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 252px;
}

.warning-item-container {
  display: flex;
  flex-direction: column;
}
.warning-wrapper {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 0.9em;
}
.icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.warning-icon {
  display: flex;
  justify-content: flex-start;
}
.warning-icons {
  display: flex;
  justify-content: center;
  margin-right: 1em;
}
.warning-icons--disabled {
  cursor: not-allowed;
}
.warning-text {
  text-align: left;
  font-size: 0.93em;
  margin: 0;
}

.popover-body {
  text-align: center;
}

.error-container {
  max-width: 150px;
  display: flex;
}

.warning__modal__track__record {
  margin: 0;
}
.warning-modal-footer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.warning__body--bold {
  font-weight: bold;
}
.warning__body--margin {
  margin: 0;
}
.warning__modal__footer__btn {
  width: 40%;
}

.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 0.5em; /* Adds spacing between the buttons */
}

.tracking__btn {
  margin-right: 0; /* Reset margin to avoid unnecessary spacing */
}

.warnings__descriptions {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
  text-align: left;

  padding: 0.5em 1em;
  background: rgb(245, 244, 244);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 0px;
}
.warning__descriptions__btn {
  padding: 0 !important;
  font-size: 1rem;
  width: 30px !important;
  height: 30px !important;
  margin: 0em 0.2em !important;
  border-radius: 5px;
}
.warnings__descriptions__title {
  text-transform: capitalize;
  border: none;
  background: none;
  width: 350px;
  margin: 0 0.5em;
  font-weight: bold;
  font-size: 1em;
  resize: none; /* Prevent resizing */
  padding: 0; /* Remove default padding */
  text-align: center; /* Horizontal centering */
  overflow: hidden; /* Hide any overflow */
  line-height: 50px;
  height: 50px;
}

.warnings__descriptions__title:disabled {
  cursor: not-allowed;
}

.warnings__descriptions__title:focus {
  border: 1px solid red;
}
.warnings__descriptions__title--gray {
  opacity: 0.6;
}

.btn__container {
  display: flex;
  justify-content: center;
}

.add__btn {
  margin-top: 0.5em;
  padding: 0.3em 0.5em !important;
}

.form__btn__add {
  margin-left: 0.5em;
}

.warning__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1em;
  max-width: 500px;
  width: 70%;
  margin-top: 0.5em;
  box-shadow: lightgray 2px 2px 4px 1px;
}
.warning__form__title {
  font-weight: bold;
}
.warning__title {
  margin: 0.3em 0;
  text-align: left;
}
.warning__permanent {
  margin: 0.5em 0.5em;
}

.warning__form__btns {
  margin-top: 1em;
}
.warning__input {
  border-radius: 3px;
  border: 1px solid #000;
}
.warning__reorder {
  width: 18px;
  height: 18px;
  cursor: grab;
  margin-right: 1em;
}

.modal__information {
  text-align: left;
  font-size: 1.2rem;
  font-weight: semi-bold;
  margin: 0.5em 0;
}

.alert__container {
  margin-top: 0.5em;
  text-align: center;
}
.modal__header--center {
  text-align: center;
  justify-content: center !important;
  align-items: center;
}

.modal__warning__deletion {
  font-weight: bold;
  font-size: 1.3rem;
}
.modal__warning__users--bold {
  font-weight: bold;
}
.modal__footer--centered {
  display: flex;
  justify-content: center;
}
input[type='text'] {
  word-wrap: break-word;
  word-break: break-all;
}

.warning__modal__userprofile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warnings__tracker__modal {
  z-index: 1100 !important;
}
/* Media query for screens smaller than 767px */
@media (max-width: 767px) {
  .warnings-container {
    align-items: flex-start;
  }

  .button__container {
    flex-direction: row;
    justify-content: flex-start; 
    gap: 0.5em; 
  }

  .tracking__btn {
    margin-top: 0; 
    margin-left: 0; 
  }
}
