.scrollbar::-webkit-scrollbar {
  width: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

.scrollable-menu {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}