.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-datepicker .react-datepicker {
  background-color: #343a40;
  border-color: #6c757d;
}
.dark-datepicker .react-datepicker__header {
  background-color: #454d55;
  border-bottom-color: #6c757d;
}
.dark-datepicker .react-datepicker__current-month,
.dark-datepicker .react-datepicker__day-name,
.dark-datepicker .react-datepicker__day {
  color: #fff;
}
.dark-datepicker .react-datepicker__day:hover {
  background-color: #495057;
}
.dark-datepicker .react-datepicker__day--selected {
  background-color: #007bff;
}

/* Light mode (default) */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode */
.dark {
  --bg-color: #002147; /* Oxford Blue */
  --text-color: #f8f9fa; /* text-light */
}

/* Apply variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
