.twoWayToggleSwitch {
  position: relative;
  width: 90px;
  display: inline-block;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggleSwitchCheckbox {
  display: none;
}

.toggleSwitchLabel {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 20px;
}

.toggleSwitchInner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.toggleSwitchInner:before,
.toggleSwitchInner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  box-sizing: border-box;
}

.toggleSwitchInner:before {
  content: "All";
  padding-left: 2px;
  background-color: #2FCCFF;
  color: #fff;
  text-align: center;
}

.toggleSwitchInner:after {
  content: "Select";
  padding-left: 10px;
  background-color: #FF3B3F;
  color: #fff;
  text-align: center;
}

.toggleSwitchSwitch {
  display: block;
  width: 15px;
  top: 4px;
  bottom: 12px;
  margin: 0px 5px;
  background: #fff;
  position: absolute;
  right: 65px;
  border: 2px solid #ddd;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.toggleSwitchCheckbox:checked + .toggleSwitchLabel .toggleSwitchInner {
  margin-left: 0;
}

.toggleSwitchCheckbox:checked + .toggleSwitchLabel .toggleSwitchSwitch {
  right: 0px;
}
