.profile-img {
  text-align: center;
}

.profile-img img {
  width: 70%;
  height: 100%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -10%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: red;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}

.profilePicture {
  width: 150px;
  height: 150px;
}