/* === selectors layout === */
.selectorsContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 3px;
}

.title {
  color: var(--text-color);
}

.selectorGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.selectorGroup label {
  font-size: small;
  margin-bottom: 3px;
  color: var(--text-color);
}

.selectorGroup select {
  font-size: small;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--button-hover);
  border-radius: 4px;
  padding: 4px 8px;
  box-sizing: border-box;
}

.chartCaption {
  text-align: center;
  font-size: medium;
  margin-top: 4px;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .selectorsContainer {
    flex-direction: column;
    gap: 0.5rem;
  }

  .selectorGroup {
    width: 100%;
  }
}
