:global(.active.dark-mode.nav-link) {
  background-color: #ffffff;
  border-radius: 40px;
}
.inventoryContainer {
  /* background-color: rgb(248, 240, 240); */
  padding: 40px 40px;
  margin-left: 0;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  width: 100%;
}
.inventorypageheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 20px;
  background: #ffffff;
}
.inventoryMetricCards {
  width: 100%;
  display: flex;
  gap: 20px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 16px;
  /* box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1); */
  margin-right: 40px;
}
.inventoryNavBar {
  margin-top: 30px;
  width: auto;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  background-color: #eceff3;
}
.inventoryNavBarItem {
  margin-right: 20px;
  padding-bottom: 8px;
  font-weight: 500;
  color: #555555;
  cursor: pointer;
}
.inventoryNavBarLink {
  color: #555555;
}
.inventoryNavBarItem:hover {
  background-color: #ffffff;
  border-radius: 40px;
}
.inventoryNavBarIcon {
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
}
.inventoryInteraction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inventorySearchBar {
  display: flex;
  width: auto;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0px 8px;
  width: auto;
  background-color: #f2f4f7;
}
.inventorySearchBar input {
  width: 300px;
  border: none;
  outline: none;
  padding: 4px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #f2f4f7;
}
.button {
  margin: 0px 20px;
  padding: 4px 12px;
  border-radius: 10px;
  background-color: rgb(244, 247, 244);
  color: black;
}
.button:hover {
  color: black;
  /* Darker blue on hover */
}
.clearSearch {
  border: none;
  color: rgb(121, 121, 165);
  font-weight: bold;
  font-size: 20px;
  border-radius: 100%;
  padding: 0;
  margin-bottom: 4px;
  cursor: pointer;
}
.addItemButton {
  background-color: rgb(4, 144, 4);
  color: white;
}
.addItemButton:hover {
  background-color: rgb(95, 229, 95);
}
.scanQRButton {
  background-color: rgb(0, 120, 215);
  color: white;
}
.scanQRButton:hover {
  background-color: rgb(99, 172, 232);
}