.container-hgnform-wrapper {
  min-height: 100vh;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 1px;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  margin: 0;
  box-sizing: border-box;
}

.container-hgnform-wrapper.bg-oxford-blue {
  color: #ffffff;
}
