# =======================================================================
# ⚠️ DO NOT ADD NEW ENTRIES ⚠️
# Only the files and folders listed below are allowed to be ignored.
# This .gitignore is locked down to maintain consistency across the team.
# To propose changes, please open a discussion or PR with justification.
# =======================================================================

# Ignore build folders
/node_modules/
/public/
/build/

# Ignore test files inside /src/components
src/__tests__/**
/src/components/**/__test__/**/*
/src/components/**/__tests__/**/*
/src/reducers/**/__tests__/**/*

src/components/BMDashboard/_tests_/BMDashboard.test.jsx
src/components/Login/ForgotPassword.test.jsx
# src/components/Login/LoginPage.test.js
src/components/Reports/PeopleReport/components/PeopleTasksPieChart.test.jsx

# Ignore folders in /src
src/actions/**
src/components/Badge/**
src/components/Dashboard/**
src/components/Projects/**
src/components/SummaryManagement/**
src/components/TaskEditSuggestions/**
src/components/TeamMemberTasks/**
src/components/Teams/TeamMembersPopup.jsx
src/components/UserManagement/**
src/components/UserProfile/**