*.png
*.svg
*.test.js
*.test.jsx
src/actions/**
src/App.css
src/config.json

src/__tests__/**

/public/
/build/
/node_modules/
src/components/Badge/**
src/components/common/**
src/components/Projects/**
src/components/SummaryManagement/**
src/components/TaskEditSuggestions/**
src/components/TeamMemberTasks/**
src/components/Timelog/**
src/components/UserManagement/**
src/components/UserProfile/**
src/components/EmailSubscribeForm/**
src/components/Dashboard/**
src/components/Announcements/**
src/components/Teams/TeamMembersPopup.jsx