*.png
*.svg
src/actions/**
src/App.css
src/config.json

src/index.js
src/languages/**
src/reducers/**
src/registerServiceWorker.js
src/routes.js
src/setupTests.js
src/store.js
src/styles.js
src/__tests__/**


src/components/App.jsx
src/components/AutoReload/**
src/components/Inventory/**
src/components/Memberships/**
src/components/Projects/**
src/components/Reports/**
src/components/SetupProfile/**
src/components/SummaryManagement/**
src/components/TaskEditSuggestions/**
src/components/TeamLocations/**
src/components/TeamMemberTasks/**
src/components/Teams/**
src/components/Timelog/**
src/components/UserManagement/**
src/components/UserProfile/**
src/components/Announcements/**
