*.png
*.svg
src/actions/**
src/App.css
src/config.json

src/languages/**
src/registerServiceWorker.js
src/routes.js
src/setupTests.js
src/store.js
src/utils/**
src/__tests__/**


src/components/Header/**
src/components/Inventory/**
src/components/Memberships/**
src/components/Projects/**
src/components/Reports/**
src/components/SummaryManagement/**
src/components/TaskEditSuggestions/**
src/components/TeamMemberTasks/**
src/components/Timelog/**
src/components/UserManagement/**
src/components/UserProfile/**
