{
  "rules": {
    "no-duplicate-selectors": [true, {
      "disallowInList": false
    }]
  },
  "overrides": [
    {
      "files": ["**/*.module.css"],
      "rules": {
        "no-duplicate-selectors": null
      }
    }
  ]
}