.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.bold-text {
  font-weight: bold;
}

.red-text {
    color: #980101;
}

.consequences {
    align-items: left;
}

.sub-title-text {
    color: #2E5061
}
