.visualizationDiv {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.visualizationDiv > div {
  margin-top: 10px;
}

.detailsModal > a {
  text-decoration: underline;
  color: blue;
}

#inf td,
#inf th {
  border: 1px solid #ddd;
  padding: 8px;
}

#inf tr:nth-child(even) {
  background-color: #f2f2f2;
}
