.starRating {
  display: flex;
  align-items: center;
}

.star {
  cursor: pointer;
  padding: 0 3px;
  font-size: 24px;
  transition: color 0.2s ease-in-out;
}

.star.empty {
  color: #e0e0e0;
}

.star.filled {
  color: #ffc107;
}

.darkMode .star.empty {
  color: #555;
}

.darkMode .star.filled {
  color: #ffc107;
} 