/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {
  .leaderboard {
    font-size: 0.7rem;
  } /*1rem = 16px*/

  .my-custom-scrollbar {
    height: 300px;
    overflow: scroll;
    margin-bottom: 1rem;
  }

  .table-wrapper-scroll-y {
    display: relative;
  }

  thead th {
    position: sticky;
    top: 0;
    background-color: aliceblue;
    border-top: 1px solid #dee2e6;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(222, 226, 230);
  }
}

.circle-border {
  border-radius: 6px;
  width: 42px;
  height: 42px;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  box-shadow: 2px 2px 4px 1px lightgray;
}
.my-team{
  color: white;
  font-weight: 500;
  width: 150px;
  padding-inline: 4px;
  font-size: 14px;
}
.leader-head{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.noMember{
  color: saddlebrown;
  font-size: 1.1rem;
  background-color: whitesmoke;
  padding: 5px 10px;
  border: 1px solid saddlebrown;
}

.boldClass {
  color: #007bff;
  font-weight: bold;
}

