.tag_color_0{
  border-left: 3px solid rebeccapurple !important;
}

.tag_color_1{
  border-left: 3px solid coral !important;
}

.tag_color_2{
  border-left: 3px solid  forestgreen !important;
}

.tag_color_3{
  border-left: 3px solid aquamarine !important;
}

.tag_color_4{
  border-left: 3px solid lightskyblue !important;
}

.tag_color_5{
  border-left: 3px solid mediumslateblue !important;
}

.tag_color_6{
  border-left: 3px solid indigo !important;
}

.tag_color_7{
  border-left: 3px solid hotpink !important;
}

.tag_color_8{
  border-left: 3px solid lightcyan !important;
}

.tag_color_9{
  border-left: 3px solid orangered !important;
}

.tag_color_10{
  border-left: 3px solid skyblue !important;
}