.has_children {
  cursor: pointer;
  font-weight: bold;
}

.remove-link {
  padding: 2px !important;
  color: red;
  cursor: pointer;
}

.disable-div {
  pointer-events: none;
}

.margin-left {
  margin-left: 5px;
}
