.has_children {
  cursor: pointer;
  font-weight: bold;
}

.taskLink {
  word-break: break-all;
}

.removeLink {
  margin-right: 5px;
  color: red;
  cursor: pointer;
}

.centerAction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disableDiv {
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  :global(.container-tasks) tbody tr:nth-child(8n + 0) {
    background-color: rgb(255, 212, 212);
  }

  :global(.container-tasks) tbody tr:nth-child(8n + 1) {
    background-color: rgb(255, 252, 213);
  }

  :global(.container-tasks) tbody tr:nth-child(8n + 2) {
    background-color: rgb(222, 255, 254);
  }

  :global(.container-tasks) tbody tr:nth-child(8n + 3) {
    background-color: rgb(230, 227, 255);
  }

  :global(.container-tasks) tbody tr:nth-child(8n + 4) {
    background-color: rgb(255, 235, 255);
  }

  :global(.container-tasks) tbody tr:nth-child(8n + 5) {
    background-color: rgb(245, 255, 228);
  }

  :global(.container-tasks) tbody tr:nth-child(8n + 6) {
    background-color: rgb(228, 255, 236);
  }

  :global(.container-tasks) tbody tr:nth-child(8n + 7) {
    background-color: rgb(228, 255, 255);
  }
}

.textLeft {
  text-align: left !important;
}


.name {
  display: inline-block;
  margin-right: 4px;
}

.dot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.imgCircle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
}

.resourceMoreToggle {
  display: inline-block;
  margin-left: 4px;
  cursor: pointer;
}
