.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0e0e0;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 30%;
  height: auto;
  min-width: 250px;
}
.content-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 85%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: max-content;
}

.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #9dd425;
}

.container-main {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  margin: 20px 40px 30px 40px !important;
  padding: 20px 20px 50px 20px !important;
  width: auto;
  min-height: 560px;
  height: 100%;
}

.container-map {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #839a4a;
}

.map-details {
  width: 100%;
  height: 75%;
  display: flex;
}
.pin-point {
  position: absolute;
  width: 5.5% !important;
  height: 6% !important;
  z-index: 9;
  top: calc(var(--top) * 580 / 700 - 3%);
  left: calc(var(--left) - 1%); 
}


.map {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.image-wrapper {
  position: relative;
  height: 100%;
  display: inline-block;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  max-width: none;
}

.village-marker {
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  width: 3.5%;
  height: 4%;
  z-index: 10;
  top: calc(var(--top) * 580 / 700);
  left: calc(var(--left)); 
}


.route {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-left: solid 1px #e0e0e0;
}

.route p {
  font-size: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  color: #e0e0e0;
}

.route img {
  width: 100%;
  height: 100%;
}

.villages {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.village {
  display: flex;
  height: 100%;
  padding: 5px;
  align-items: center;
}

.village:hover {
  background-color: #768b43;
}

.village img {
  width: auto;
  height: 75%;
  cursor: pointer;
}

.selected {
  background-color: #768b43;
}


@media (max-width: 990px) {
  .main-container {
    padding: 0;
  }
  .container-main {
    flex-direction: column;
    align-items: center;
  }
  .map-details {
    flex-direction: column;
    height: 100%;
  }
  .map {
    width: 100%;
  }

  .image-wrapper {
    position: relative;
    min-height: 100%;
    display: inline-block;
  }
  .image-wrapper img {
    width: 100%;
    height: auto;
    max-width: none;
  }
  .route {
    width: 100%;
    border-left: none;
    border-top: solid 1px #e0e0e0;
  }
  .villages{
    height: auto;
  }
  
}

.village-details{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
  height: 100%;
}

.village-details h3{
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 600;
  color:#839a4a;
}

.village-details p{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  color:#839a4a;
}


@media (max-width: 580px) {
  .container-main {
    padding: 10px;
    margin: 10px;
  }
  .village-details{
    padding-left: 0;
  }

}

