.radarChart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  margin-top: -40px; 
}

.radarChart canvas {
  max-width: 700px; 
  max-height: 700px;
}

@media (max-width: 900px) {
  .radarChart canvas {
    max-width: 95vw;
    max-height: 95vw;
  }
}