.donut-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.6rem;
}

.donut-chart {
  position: relative;
  width: 100%;
  max-width: 21.25rem;
  height: 21.25rem;
}

.donut-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.6em;
}

.donut-center .donut-heading {
  color: #828282;
  font-size: 0.88rem;
}

.donut-center .donut-count {
  color: #6c6c6c;
  font-size: 2rem;
}

.donut-center div {
  margin: 2px 0;
}

.donut-labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.8rem;
  width: 100%;
}

.donut-label {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  flex: 1 1 auto;
  min-width: 150px;
}
