/* stylelint-disable no-descending-specificity */
.historyTitle {
  color: black;
  font-weight: 600;
  margin-bottom: 30px;
}

.historyTitleDark {
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Table base */
.equipmentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

/* Header only: 2px bottom border, grayish bg */

.equipmentTable thead th {
  background-color: white;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.6rem 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  white-space: nowrap;
}

/* Remove all other borders */
.equipmentTable th,
.equipmentTable td {
  border: none;
}

/* Row dividers */
.equipmentTable tbody td {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #eaeaea;
  font-size: 0.875rem;
}

/* No divider on last row */
.equipmentTable tbody tr:last-child td {
  border-bottom: none;
}

.equipmentTable td {
  padding: 18px 0 !important;
}

.equipmentTableDark thead th {
  background-color: #1b2a41;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.6rem 0.75rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  white-space: nowrap;
}

/* Remove all other borders */
.equipmentTableDark th,
.equipmentTableDark td {
  border: none;
}

/* Row dividers */
.equipmentTableDark tbody td {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #eaeaea;
  font-size: 0.875rem;
  color: gray;
}

/* No divider on last row */
.equipmentTableDark tbody tr:last-child td {
  border-bottom: none;
}

.equipmentTableDark td {
  padding: 18px 0 !important;
}