:global {
  .history-title{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .history-title-dark{
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
  }

  /* Table base */
  .equipment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top:10px;
  }

  /* Header only: 2px bottom border, grayish bg */

  .equipment-table thead th {
    background-color: white;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0.6rem 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    white-space: nowrap;
  }

  /* Remove all other borders */
  .equipment-table th,
  .equipment-table td {
    border: none;
  }

  /* Row dividers */
  .equipment-table tbody td {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #eaeaea;
    font-size: 0.875rem;
  }

  /* No divider on last row */
  .equipment-table tbody tr:last-child td {
    border-bottom: none;
  }

  .equipment-table td {
    padding: 18px 0 !important;
  }
  .equipment-table-dark thead th {
    background-color: #1b2a41;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0.6rem 0.75rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    white-space: nowrap;
  }

  /* Remove all other borders */
  .equipment-table-dark th,
  .equipment-table-dark td {
    border: none;
  }

  /* Row dividers */
  .equipment-table-dark tbody td {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #eaeaea;
    font-size: 0.875rem;
    color: gray;
  }

  /* No divider on last row */
  .equipment-table-dark tbody tr:last-child td {
    border-bottom: none;
  }

  .equipment-table-dark td {
    padding: 18px 0 !important;
  }
}