.reviewers-chart-container {
  padding: 20px;
  font-family: sans-serif;
  height: auto;
  width: 80%;
  padding: 20px;
  justify-self: center;
}

.reviewers-chart-container.dark-mode {
  background-color: #1B2A41;
  color: #fff;
}

.dark-mode .reviewers-label {
  color: #fdfdfd; /* Always use the light mode color */
}

.reviewers-filters-bar {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}

.reviewers-filters-bar label {
  margin-right: 5px;
  font-weight: 600;
}

.reviewers-scroll-container {
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.custom-tooltip {
  background-color: #f8fafc;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 12px;
  transition: background-color 0.2s ease;
}

.dark-mode .custom-tooltip {
  background-color: #1c2d48;
  color: #ffffff;
}

.custom-tooltip:hover {
  background-color: #3d4a64;
}

.tooltip-entry {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.tooltip-label {
  font-weight: bold;
  margin-right: 8px;
}

.tooltip-title {
  color: black;
}

.dark-mode .tooltip-title {
  color: #f8fafc;
}

.dark-mode .reviewers-scroll-container {
  background-color: #324d77;
  border-color: #444;
}

.filters-bar {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.reviewers-label {
  font-weight: 500;
  min-width: 70px;
}

/* react-select overrides */
.reviewers-select-container {
  width: 180px;
}

.reviewers-select__control {
  background-color: white;
  color: black;
}

.dark-mode .reviewers-select__toggle {
  color: white;
}

.dark-mode .reviewers-select__control {
  background-color: #324d77;
  color: #f8fafc;
}

.dark-mode .reviewers-select__menu {
  background-color: #1B2A41;
  color: #f8fafc;
  border: 1px solid white;
}

.dark-mode .reviewers-select__single-value {
  color: #f8fafc;
}

.dark-mode .reviewers-select__option--is-focused, .reviewers-select__option:hover {
  background-color: #2f4a73;
}

.reviewers-select__option--is-focused, .reviewers-select__option:hover {
  background-color: #eef0f2;
}