.custom-ul{
  padding-left: 2rem;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}
.d-flex {
  display: flex;
}
.dark-mode-content.info-content-display * {
  color: #f8f9fa !important; /* A light gray/off-white color from Bootstrap */
  background-color: transparent !important; /* Prevents unwanted background highlights */
}
/* styles for the info modal content when dark mode is active */
.infoModalContent {
  padding-left: 20px;
}

.forceWhiteText,
.forceWhiteText * {
  color: #f8f9fa !important;
}

.infoModalContent :hover,
.infoModalContent *:hover {
  background-color: #444 !important;
  transition: background-color 120ms ease-in-out;
  color: #ffffff !important;
}

