.reviews-insight-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

.reviews-insight-container.dark-mode {
  background-color: #1b2a41;
  color: #f1f1f1;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dark-mode .filters {
  background-color: #1c2541;
  color: #f1f1f1;
  box-shadow: 2px 2px 4px 1px black;
  padding: 10px;
  border-radius: 8px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.filter-item label {
  margin-bottom: 5px;
  font-weight: bold;
}

.dark-mode .filter-item label {
  color: #f1f1f1;
}

.selected-teams {
  margin-bottom: 20px;
  font-style: italic;
}

.dark-mode .selected-teams {
  color: #f1f1f1;
}

.graphs {
  display: flex;
  justify-content: space-around;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.chart {
  width: 250px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

.graph {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .graph {
  background-color: #1c2541;
  color: #f1f1f1;
  box-shadow: 2px 2px 4px 1px black;
  border: none;
}

.graph-placeholder {
  height: 300px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 14px;
}

.dark-mode .graph-placeholder {
  background-color: #1c1c1c;
  color: #f1f1f1;
}

.team-name {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.dark-mode .team-name {
  color: #f1f1f1;
}
