.pageContainer {
  padding: 10px;
  font-family: 'Inter', sans-serif;
}

.headerContainer {
  margin-bottom: 20px;
  font-weight: 800;
}

.summarySection {
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
}

.summaryHeading {
  font-size: 16px;
  /* font-weight: 600; */
  margin-bottom: 10px;
}

.summaryStats {
  display: flex;
  gap: 25px;
}

.statBox {
  background: #fff;
  /* border: 1px solid #ddd;
  border-radius: 10px; */
  padding: 12px 20px;
  text-align: center;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */
  flex: 1;
}

.statBox h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #222;
}

.statBox p {
  margin: 5px 0 0;
  font-size: 13px;
  color: #555;
}

.searchFilterContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 20px;
}

.searchInput {
  flex: 0.6;
  padding: 8px 12px;
  border: 1.3px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  padding-left: 35px;
  height: 38px;
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #f0f0f0;
  border: 1.3px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.filterButton:hover {
  background-color: #e6e6e6;
}

.chartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #ccc;
  /* border-radius: 10px; */
  background: #fafafa;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tooltip {
  position: absolute;
  background: #333;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.2s;
}


.subjectTabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* margin-bottom: 15px;
  border-bottom: 1.5px solid #ddd; */
  border: 2px solid #ddd;
  /* border-radius: 10px; */
  padding-bottom: 5px;
}

.tabButton {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 14px;
  cursor: pointer;
  color: #555;
  position: relative;
  transition: color 0.2s;
}

.tabButton:hover {
  color: #000;
}

.activeTab {
  color: orange;
  font-weight: 600;
}

.activeTab::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: orange;
  border-radius: 2px;
}

.searchWrapper {
  position: relative;
  display: inline-block;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none; 
}

