.team-task-progress-follow-up-container {
  position: relative;
  display: inline-flex;
  top: -0.15rem;
}

.team-task-progress-follow-up {
  width: 18px;
  height: 18px;
  border: 2px solid green;
  border-radius: 3px;
  appearance: none;
  background-color: #e1f3e2;
  position: relative;
  cursor: pointer;
}
.team-task-progress-follow-up-red {
  border: 2px solid red;
  background-color: #f3e1e2;
}
.team-task-progress-follow-up-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: green;
  pointer-events: none; /* Prevents interaction issues */
}
@media screen and (max-width: 1240px) {
  .team-task-progress-follow-up {
    box-sizing: border-box;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    justify-self: end;
    width: 15px;
    height: 15px;
  }
}

