.team-member-tasks {
  background-color: white;
}

.team-member-tasks h1 {
  color: black;
}

.team-member-tasks-bell {
  color: red;
  cursor: pointer;
}
.team-member-tasks .team-member-tasks-headers {
  vertical-align: middle;
}

.team-member-tasks .team-member-tasks-subtable {
  margin: 0;
  text-align: center;
}

.team-task-hours {
  width: 35%;
}

.task-break {
  border-bottom: 1px solid lightgray;
}

.task-break:last-of-type {
  border-bottom: none;
} 
