.report-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 256px;
  min-height: 100vh;
  background-color: #faf7fd;
  align-items: start;
  padding: 4vh 7vw;
  grid-template-rows: 70px repeat(2, 3fr);
  column-gap: 32px;
  row-gap: 35px;
}

.report-page-content {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  row-gap: 32px;
  width: 100%;
}

.report-page-profile {
  border-top-left-radius: 25px;
  border-radius: 25px;
  margin-bottom: 10px;
  width: 100%;
}

.report-page-profile-dark {
  border-top-left-radius: 25px;
  border-radius: 25px;
  margin-bottom: 10px;
  width: 100%;
}

.project-header {
  font-size: 32px;
  padding: 10px 10px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 12px #eae1f6;
}

@media (max-width: 1300px) {
  .report-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
}

@media (max-width: 850px) {
  .report-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }

  .report-page-content {
    justify-content: center;
    align-items: center;
  }

  .project-header {
    font-size: 32px;
    padding: 10px 10px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 12px #eae1f6;
    width: 100%;
  }
}


@media (max-width: 435px) {

  .report-page-content {
    padding: 0px;
  }

  .report-page-wrapper {
    padding: 20px;
  }
}