.itemNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9dd425 !important;
  padding: 1.5rem 1.5rem !important; 
  margin: 0 !important;
}

.itemNavbarLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.itemSelector {
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 0.7rem;
  padding: 0.1rem 0.4rem 0.1rem 0.2rem;
  cursor: pointer;
}

.itemSelector select{
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

.itemButton{
  background-color: rgb(190, 190, 190);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.itemButton:hover{
  background-color: black;

  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.itemButton p{
  font-family: sans-serif;
  color: #fff;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.itemNavbarRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.itemNavbarRight h2{
  font-family: sans-serif;
  color: #000000;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.itemIcons {
  padding-left: 0.5rem;
  margin: 0;
}

.itemNavIcon{
  margin-left: 1rem;
  font-size: 19px;
  margin-bottom: 0.2rem;
}

.itemNavLink{
  color: rgba(0, 0, 0) !important;
}

.itemOverview {
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 40px 30px 40px;
  padding: 10px 0px 10px 0px;
  width: auto;
  height: auto;
}

.itemDetailsLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5% 2.5% 1.5% 2.5%;
}

.itemListingDetailsMobile {
  display: none;
}

.itemListingDetails h1,
.itemListingDetails p{
  color: #000;
}

.itemImages {
  width: 100%;
  margin-bottom: 2.5%;
}

.itemAmenities {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.itemAmenities h2 {
  font-size: 16px;
  text-align: left;
  color: #060606;
  font-weight: bold;
}

.itemAmenities div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.marginLeft {
  margin-left: -1.3rem;
}

.errMessage{
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  width: 50%;
}

.itemLocation {
  display: flex;
  width: 100%;
  height: 30px;
  margin: 2%;
  padding-left: 5%;
  margin-top: 5%;
}

.itemLocation img {
  width: 30px;
  height: 30px;
}

.itemLocation a {
  text-decoration: underline;
  cursor: pointer;
}

.itemIcon {
  color: red;
  font-size: 1.3rem
}

.itemDetailsRight {
  width: 50%;
  height: 100%;
  padding: 2.5%;
}

.itemListingDetails h1,
.itemListingDetails p{
  color: #000;
}

.itemRent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 10px;
}

.itemRent label {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.itemForm button {
  background: #13ae5c;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.itemForm button:hover {
  background: #0f9a50;
  transform: scale(1.01);
}

.itemForm button:active {
  transform: scale(0.99);
}
.itemRent input[type='date'] {
  border: 1px solid #ccc;
  margin-top: 2.5%;
  width: 100%;
}

.itemBidding {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.itemBidding label {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.footerIcons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.saveList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2.5%;
}

.saveList button {
  background: #d1d1d1;
  padding: 2.5%;
  border-radius: 998px;
  border: none;
  width: 10%;
  display: flex;
  justify-content: center;
  min-width: 100px;
  height: 100%;
  gap: 10%;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.startChat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2.5%;
}

.startChat button {
  background: #d1d1d1;
  padding: 2.5%;
  border-radius: 998px;
  border: none;
  width: 33%;
  display: flex;
  justify-content: center;
  min-width: 200px;
  gap: 10%;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.savedItem {
  color: red;
}

@media screen and (max-width: 1200px) {
  .itemNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 1.1rem 1rem  !important;
  }
  .itemNavIcon{
    margin-left: 0.5rem;
    font-size: 16px;
    margin-bottom: 0.25rem;
  }
  .itemNavbarRight {
    justify-content: space-between;
  }
  .itemNavbarRight h2{
    font-family: sans-serif;
    color: #000000;
    font-size: 12px;
    padding: 0;
    margin: 0.3rem 0 0;
  }
  .itemIcons{
    padding-left: 0.2rem;
    margin: 0 0 0rem;
  }
  .navbarNav {
    display: flex;
    flex-direction: row !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

@media screen and (max-width: 800px) {

  .itemNavbarRight {
    padding: 1rem 0 0;
  }

  .itemNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 1rem 2rem !important;
  }
  .itemNavbarRight {
    justify-content: space-between;
  }
  .itemNavbarRight h2{
    font-family: sans-serif;
    color: #000000;
    font-size: 12px;
    padding: 0;
    margin: 0.3rem 0 0;
  }
  .itemIcons{
    padding-left: 0.2rem;
    margin: 0 0 0rem;
  }
  .itemNavIcon{
    margin-left: 0.8rem;
    font-size: 16px;
    margin-bottom: 0;
  }
  .navbarNav {
    display: flex;
    flex-direction: row !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .itemOverview {
    flex-direction: column;
    align-items: center;
  }
  .itemDetailsLeft {
    width: 98%;
  }
  .itemListingDetailsMobile {
    display: block;
  }
  .itemDetailsRight {
    width: 98%;
  }
  .itemListingDetailsDesktop {
    display: none;
  }
  .startChat button {
    background: #d1d1d1;
    padding: 2.5%;
    border-radius: 998px;
    border: none;
    width: 45%;
    display: flex;
    justify-content: center;
  }
  .itemRent {
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .navbarLight .navbarToggler {
    color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid black !important;
    padding: 0.2rem 0.5rem !important;
  }

  .itemNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 1.5rem 1rem !important;
    position: relative;
  }

  .itemContainer{
    overflow: visible ;
  }

  .menuButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
  }

  .menuIcon {
    font-size: 20px;
    position: relative;
  }

  .navbarTogglerIcon {
    height: 25px !important;
    width: 25px !important;
  }

  .itemNavbarRight {
    padding: 1rem 0 0;
  }

  .itemNavbarRight h2{
    font-family: sans-serif;
    color: #000000;
    font-size: 12px;
    padding: 0;
    margin: 0.5rem 0 0;
  }

  .itemIcons{
    padding-left: 0.2rem;
    margin: 0 0 0rem;
  }

  .itemNavIcon{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    font-size: 14px;
  }

  .itemOverview {
    padding: 10px;
    margin: 10px;
  }

  .itemAmenities {
    flex-direction: column;
    align-items: center;
  }

  .itemForm label {
    display: flex;
    width: 150px;
    flex-direction: column;
  }
  
  .itemForm input[type='date'] {
    border: 1px solid #ccc;
    margin-top: 2.5%;
    width: 90%;
  }

  .startChat button {
    background: #d1d1d1;
    padding: 2.5%;
    border-radius: 998px;
    border: none;
    width: 80%;
    display: flex;
    justify-content: center;
    min-width: 150px;
    font-size: 12px;
  }
}

@media screen and (max-width: 340px) {
  .itemSelector {
    width: 150px

  }
  .navbarTogglerIcon{
    width: 20px !important;
    width: 20px !important;
  }
}
