.list_location {
  display: flex;
  padding-right: 8%;
  justify-content: flex-end;
  margin-top: 2% !important;
  margin-bottom: 0 !important;
}

.list_title {
  padding-left: 6%;
  text-align: left;
}

/* .list__overview {
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  margin: 20px 40px 30px 40px;
  padding: 10px 0px 10px 0px;
  width: auto;
  height: auto;
} */
.item_body {
  background-color: #e0e0e0;
  margin: 20px 40px 30px 40px;
  padding: 10px 0px 10px 0px;
  width: auto;
  height: auto;
}

.item_detailsWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item_footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px 10px 30px;
}

.list_detailsLeft {
  width: 45%;
  height: 100%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
}

.list_detailsRight {
  width: 55%;
  height: 100%;
  padding: 2.5% 2.5% 2.5% 0%;
}

.list_itemTitle {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

h1.list_itemTitleMobile {
  color: black;
  text-transform: uppercase;
}

.itemTitleWrapper {
  position: relative;
  height: 2.3rem;
}

.itemTitleWrapperDesktop {
  display: block;
}

.itemTitleWrapperMobile {
  display: none;
}

.itemTitleRight {
  position: absolute;
  right: 0;
  bottom: 0;
}

.font600 {
  font-weight: 600;
}

.list_link {
  margin-top: 2%;
  text-decoration: underline;
}

.list_details {
  margin-top: 3%;
  text-decoration: underline;
}

.wishlist_start_chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2.5%;
  align-self: center;
}

.wishlist_start_chat button {
  background: #d1d1d1;
  padding: 2.5%;
  border-radius: 998px;
  border: none;
  width: 33%;
  display: flex;
  justify-content: center;
  min-width: 200px;
  gap: 10%;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  height: 3.5rem;
}

.item_price {
  padding: 2rem 0rem;
}

@media screen and (max-width: 500px) {
  .item_detailsWrapper {
    padding: 10px;
    margin: 10px;
  }

  .wishlist_start_chat button {
    background: #d1d1d1;
    padding: 2.5%;
    border-radius: 998px;
    border: none;
    width: 80%;
    display: flex;
    justify-content: center;
    min-width: 150px;
    font-size: 12px;
    height: 3.5vh;
  }

  .item_footer {
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .item_detailsWrapper {
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
  }

  .itemTitleWrapperMobile {
    display: block;
  }
  .itemTitleWrapperDesktop {
    display: none;
  }
  .list_detailsLeft {
    width: 98%;
  }
  .list_detailsRight {
    width: 98%;
  }
  .list_link {
    align-self: center;
  }
}
