/* Dark mode button styles */
.dark-mode-button {
  cursor: pointer;
  padding: 0;
}

.red-asterisk {
  color: #e00000;
  font-weight: bold;
}

.dark-mode .close {
  color: white;
  opacity: 1; 
}

.dark-mode .close:hover {
  color: #f0f0f0;
  opacity: 1; 
}
/* Custom styles for datepicker in darkMode */
.dark-mode .react-datepicker {
  background-color: #3A506B;
  color: #ffffff;
}
.dark-mode .react-datepicker__header {
  background-color: #1C2541;
  border-bottom: 1px solid #555555;
}
.dark-mode .react-datepicker__current-month {
  color: #ffffff;
}
.dark-mode .react-datepicker__navigation--previous::before,
.dark-mode .react-datepicker__navigation--next::before {
  border-color: #ffffff;
}
.dark-mode .react-datepicker__month-container {
  background-color: #3A506B;
}
.dark-mode .react-datepicker__day,
.dark-mode .react-datepicker__time-name {
  color: #ffffff;
}
.dark-mode .react-datepicker__day-name {
  background-color: #1C2541;
  color: #ffffff;
}
.dark-mode .react-datepicker__day--selected,
.dark-mode .react-datepicker__day--in-selecting-range,
.dark-mode .react-datepicker__day--in-range,
.dark-mode .react-datepicker__day:hover {
  background-color: #1C2541;
  color: #ffffff;
}
.dark-mode .react-datepicker__navigation {
  background: none;
}
.dark-mode .react-datepicker__navigation::before {
  border-color: #ffffff;
}

.no-hover tr:hover {
  background-color: inherit !important;
  color: inherit !important;
}

.hover-effect-reports-page-dark-mode:hover {
  background-color: #1C2541; 
  color: #ffffff; 
}

/* Dark mode for DayPicker (AddTaskModal) */
.dark-mode .DayPicker {
  background-color: #3A506B;
  color: #ffffff;
}
/* .dark-mode .DayPicker-wrapper {
  background-color: #1C2541;
} */
.dark-mode .DayPicker-Caption {
  color: #ffffff;
}
.dark-mode .DayPicker-NavButton {
  /* background: none; */
}
.dark-mode .DayPicker-Month {
  background-color: #3A506B;
}
.dark-mode .DayPicker-NavButton--prev::before,
.dark-mode .DayPicker-NavButton--next::before {
  border-color: #ffffff;
}
.dark-mode .DayPicker-Day {
  color: #ffffff;
}
.dark-mode .DayPicker-Weekday {
  color: #ffffff;
}
.dark-mode .DayPicker-Day:hover {
  background-color: #1C2541 !important; /* Remove background color on hover */
  color: #ffffff !important; /* Ensure text color remains white */
}
.dark-mode tr:hover{
  background-color: #2f4157;
}

/* DARK MODE BUTTON */

.darkModeSliderContainer {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1C2541;
  position: relative;
  transition: background-color 1000ms ease-in-out;
}

.sunHoverIcon, .nightIcon {
  height: 25px;
  padding: 2px;
  border-radius: 50%;
  margin: 0 4px 0 3px;
  background: white;
  position: absolute;
  transition: opacity 1000ms ease-in-out, margin-left 1000ms ease-in-out;
}

.nightIcon {
  opacity: 0;
}

.darkModeText {
  margin-left: 32px;
  color: #f0f0f0;
  opacity: 1;
  transition: color 500ms ease-in-out, opacity 200ms linear 800ms;
}

.lightModeHoverText {
  opacity: 0;
  color: #151515;
  position: absolute;
  margin-left: 6px;
  transition: opacity 100ms linear, transition-delay 300ms linear;
}

.darkModeSliderContainer:hover {
  background-color: white;
}

.darkModeSliderContainer:hover .darkModeText {
  color: black;
  opacity: 0;
  transition: color 500ms ease-in-out, opacity 0s linear;
}

.darkModeSliderContainer:hover .sunHoverIcon {
  opacity: 0;
  margin-left: 75%;
}

.darkModeSliderContainer:hover .nightIcon {
  opacity: 1;
  margin-left: 75%;
}

.darkModeSliderContainer:hover .lightModeHoverText {
  opacity: 1;
  transition: opacity 200ms linear 800ms;
}

/* LIGHT MODE BUTTON */

.lightModeSliderContainer {
  width: 120px;
  height: 30px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e3e3e3;
  position: relative;
  transition: background-color 1000ms ease-in-out;
}

.sunIcon, .nightHoverIcon {
  height: 25px;
  padding: 2px;
  border-radius: 50%;
  margin: 0 4px 0 3px;
  background: white;
  position: absolute;
  margin-left: 75%;
  box-shadow: 1px -1px 1px black;
  transition: opacity 1000ms ease-in-out, margin-left 1000ms ease-in-out;
}

.nightHoverIcon {
  opacity: 0;
}

.lightModeText {
  margin-left: 6px;
  color: #151515;
  opacity: 1;
  transition: opacity 100ms linear 800ms;
}

.darkModeHoverText {
  color: white;
  opacity: 0;
  position: absolute;
  margin-left: 32px;
  transition: opacity 100ms linear, transition-delay 300ms linear;
}

.lightModeSliderContainer:hover {
  background-color: #1C2541;
}

.lightModeSliderContainer:hover .lightModeText {
  opacity: 0;
  transition: opacity 200ms linear 0s;
}

.lightModeSliderContainer:hover .sunIcon {
  opacity: 0;
  margin-left: 2px;
}

.lightModeSliderContainer:hover .nightHoverIcon {
  opacity: 1;
  margin-left: 2px;
}

.lightModeSliderContainer:hover .darkModeHoverText {
  opacity: 1;
  transition: opacity 200ms linear 800ms;
}
