/* Dark mode button styles */
.dark-mode-button {
  cursor: pointer;
  padding: 0;
}

.dark-mode .close {
  color: white;
  opacity: 1; 
}

.dark-mode .close:hover {
  color: #f0f0f0;
  opacity: 1; 
}

.dark-mode tr:hover{
  background-color: #2f4157;
}