
.header-wrapper {
  width: 100%;
  padding: 0 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
}

.center-section {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}


@media (max-width: 1005px) {
  .center-section {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    overflow: visible;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-collapse {
    background-color: #343a40; 
    padding: 10px;
  }
}

.responsive-spacing {
  margin: 0.5rem 0;
}

.dashboard-text-link {
  color: #fff;
  text-decoration: none;
}






