.header-wrapper {
  height: fit-content;
  width: clamp(100vw, 0.1rem + 1vw, 100%);
}

.close-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px; 
}

.card-content {
  padding: 5px; 
  padding-left: 40px;
  padding-right: 40px;
  white-space: pre-line;
  color: white;
  font-size: medium;
}

.navbar {
  z-index: 1050;
  white-space: nowrap;
  margin-bottom: 20px;
  overflow: visible;
}

.timer-message-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.redBackGroupHeader {
  z-index: 10;
  bottom: 0;
  right: 0;
  position: relative;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  background: #ff4d4f;
  border-radius: 40px;
  color: #fff;
  padding: 3px 6px;
  max-width: 39px;
  font-size: 1rem;
  min-width: 29px;
}

.owner-message {
  margin-right: 3rem;
}

.nav-links {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  max-height: none; 
  overflow-y: auto; 
}


.nav-item .dropdown-menu {
  position: absolute; 
  transform: translate3d(0, 0, 0); 
}

.dropdown-item-hover:hover{
  background-color: #2f4157 !important;
}

@media (max-width: 1400px) {
  .nav-links{
    flex-direction: column !important;
  }
}

@media (max-width: 1500px) {
  .dashboard-text-link {
    font-size: 14px;
  }

  .owner-message {
    margin-right: 0;
  }
}

@media (max-width: 1050px) {
  .timer-message-section {
    display: flex;
    width: 0;
    margin-right: 0;
  }

  .owner-message {
    display: none;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1700px) {
  .owner-message {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .responsive-spacing{
    margin-right: 5px;
  }

  .dropdown-menu {
    max-height: 50vh; 
    overflow-y: auto; 
  }
}
