.report-block-wrapper {
  border-radius: 12px;
  box-shadow: 0 0 12px #eae1f6;
  text-align: center;
}

.report-block-content {
  height: 100%;
  padding: 2rem;
  overflow: auto;
  border-radius: 12px;
  margin: 2px;
  /* allow content inside the block to shrink inside grid/flex containers
   so wide children don't force the parent to overflow unexpectedly */
  min-width: 20px;
}

.report-block-wrapper-dark {
  border-radius: 12px;
  box-shadow: 0 0 12px black;
  text-align: center;
}