/* TasksTable.css */

.tasks-block {
  width: 100%;
  overflow-x: auto;
}

.tasks-detail-total {
  float: left;
}

.tasks-detail-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px; /* Minimum width to maintain table layout on smaller screens */
}

.tasks-detail-table th,
.tasks-detail-table td {
  padding: 10px 16px;
  border: none;
  text-align: left;
  vertical-align: middle;
}

.tasks-detail-table-head {
  background-color: #eee7f8;
  font-weight: bold;
}

.tasks-detail-table-row {
  border-bottom: 3px solid #f8f7f8;
  text-align: left;
}

.tasks-detail-table-head tr {
  border-bottom: 3px solid #f8f7f8;
}

.tasks-detail-table-head tr:hover {
  background-color: #eee7f8;
}

.tasks-detail-table-head th {
  height: 42px;
  padding: 0 16px;
  border: none;
  text-align: left;
  vertical-align: middle;
}

.tasks-detail-table-head th:first-child {
  border-radius: 4px 0 0 4px;
}

.tasks-detail-table-head th:last-child {
  border-radius: 0 4px 4px 0;
}

.tasks-detail-center-cells {
  text-align: center;
}

.tasks-detail-task-name {
  flex: 2;
}

.isActive i {
  color: green;
}

.isNotActive i {
  color: red;
}

.dark-mode-row {
  background-color: #1a2639;
  color: #fff;
}

.dark-mode-row:hover {
  background-color: #3a506b;
  color: #fff;
}

/* Responsive design */

@media screen and (width <= 1100px) {
  .collapse-column {
    display: none;
  }

  .tasks-detail-table {
    min-width: 600px;
  }

  .tasks-detail-table th,
  .tasks-detail-table td {
    padding: 5px;
    font-size: 12px;
  }

  .tasks-detail-total {
    font-size: 14px;
  }
}

@media screen and (width <= 645px) {
  .tasks-detail-table {
    min-width: 400px;
  }

  .tasks-detail-table th,
  .tasks-detail-table td {
    padding: 2px;
    font-size: 10px;
  }

  .tasks-detail-total {
    font-size: 12px;
  }

  .tasks-detail-center-cells {
    font-size: 10px;
  }
}