.tasks-detail-grid{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr 2fr repeat(9, 2fr);
  column-gap: 10px;
  min-height: 42px;
  align-items: center;
  text-align: left;
  border-bottom: 3px solid #f8f7f8;
}

.tasks-detail-table-head {
  background-color: #eee7f8;
  border-radius: 4px;
  padding: 0 16px;
}

.tasks-detail-table-row{
  padding: 8px 16px;
}

.tasks-detail-center-cells {
  justify-self: center;
}

.tasks-detail-task-name {
  word-break: break-all;
}

.tasks-detail-total {
  text-align: left;
  margin-bottom: 12px;
  font-size: 18px;
  color: #acacac;
}