/* TasksTable.css */
.tasks-block {
  width: 100%;
  overflow-x: auto;
}

.tasks-detail-total {
  float: left;
}

.tasks-detail-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
  /* Minimum width to maintain table layout on smaller screens */
}

.tasks-detail-table th,
.tasks-detail-table td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: left;
}

.tasks-detail-table-head {
  background-color: #f8f9fa;
  font-weight: bold;
  border-radius: 20px;
}

.tasks-detail-center-cells {
  text-align: center;
}

.tasks-detail-task-name {
  flex: 2;
}

.isActive i {
  color: green;
}

.isNotActive i {
  color: red;
}

.dark-mode-row {
  background-color: #3A506B;
  color: #fff;
}

/* Responsive design */
@media screen and (max-width: 1100px) {
  .collapse-column {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .tasks-detail-table {
    min-width: 600px;
  }

  .tasks-detail-table th,
  .tasks-detail-table td {
    padding: 5px;
    font-size: 12px;
  }

  .tasks-detail-total {
    font-size: 14px;
  }
}

@media screen and (max-width: 645px) {
  .tasks-detail-table {
    min-width: 400px;
  }

  .tasks-detail-table th,
  .tasks-detail-table td {
    padding: 2px;
    font-size: 10px;
  }

  .tasks-detail-total {
    font-size: 12px;
  }

  .tasks-detail-center-cells {
    font-size: 10px;
  }
}