.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-areas: "content shrink";
  grid-gap: 20px;
}
.tasksandtimelogs {
  grid-area: content;
}
.leaderboard {
  grid-area: shrink;
  min-width: 0;
}
@media (max-width: 768px) {
  .grid {
      grid-template-columns: 1fr;
      grid-template-areas: 
          "content"
          "shrink";
  }
}