.tab-pane {
  max-height: 400px;
  overflow-y: auto;
}
/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {  
  .weeklysummarypane {
    max-height: 400px;
    overflow: auto;
    height: 400px;
  }
}
