/* TeamTable.css */

/* Style for the table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Style for table headers */
  th {
    text-align: center;
    padding: 8px;
  }

  
  /* Style for table data cells */
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  /* Style for footer */
  tfoot td {
    font-weight: bold;
  }
  
  /* Hover effect on rows */
  tbody tr:hover {
    background-color: #e2e2e2;
  }
  