.bg--white-smoke {
  background-color: #f6f6f3;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.tab-content {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #fff #dee2e6 #dee2e6;
}

.report-wrapper {
  padding: 20px 0;
  margin-top: 5px;
  border-bottom: 1px solid #828282;
}

.google-doc-icon {
  height: 20px;
  margin-left: 10px;
}

.bio-toggle {
  display: inline-block;
}

.name-info{
  display: flex;
}
.total-valid-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
}

.badge-tr {
  margin-left: 20px;
  display: block;
}

.badge-td> img{
  float: left;
  height: 45px;
  width: 45px;
  margin: 5px;
}

.nonsummary-wrapper{
  display: flex;
  flex-direction: row;
}

@media (min-width: 482px) {
  .teamcode-wrapper{
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
}

.code-alert{
  margin: 10px 0 0 0;
  padding: 8px;
}