.container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: #d9d9d9;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.headerContent {
  display: flex;
  gap: 10px;
  background-color: #98cb03;
  width: 75%;
  padding: 2%;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  gap: 10px;
}

.headerRight {
  display: flex;
  align-items: center;
}

.jobTitleInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.jobSelect {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.goButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.formContainer {
  background-color: #f9f9f9;
  padding: 2%;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.formSubtitle {
  text-align: center;
  margin-bottom: 20px;
}

.formSubtitle a {
  color: #007bff;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #d9d9d9;
  padding: 2%;
  border-radius: 1%;
}

.formContentGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 2%;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formProfileDetailGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.formProfileDetailGroup input {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formGroup h2 {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  color: black;
  font-size: medium;
}

.formGroup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}
