.addToolForm{
  width: 100%;
}

.addToolForm Label{
font-size: .8em;
}

.addToolFlexGroup{
  display: flex;  
  gap: 2rem;
}

.addToolButtons{
  display: flex;
  gap: 1rem;
  margin: 1rem auto 2rem;
}

.addToolButtons button{
  width: 50%;
}

.addToolTotalPrice{
  display: flex;  
  border-radius: 10px;
  line-height: 3rem;
  font-weight: bolder;
  background-color: #f5e6e6;
  padding-left: 1em;
}

.addToolTotalPrice div{
  width: 50%;
}

.totalPriceCalculated{
  text-align: end;
  padding-right: 1em;
}

.filePreviewContainer{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.toolFormError {
  font-weight: 500;
  font-size: 11px !important;
  color: red;
  display: flex;
  justify-content: flex-start;
}

.fieldRequired{
  color: red;
}

@media screen and (max-width: 640px) {
  .addToolFlexGroup {
    display: block;
  }

  .filePreviewContainer{
    display: block;
  }
}
