/* 
  Chrome, Safari, Edge, Opera 
  Remove arrows from number inputs
*/
.remove-arrows::-webkit-outer-spin-button,
.remove-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
  Firefox
  Remove arrows from number inputs
*/
.remove-arrows[type=number] {
  -moz-appearance: textfield;
}

.total-price {
  font-size: 1.3rem;
  background-color: rgb(245, 230, 230);
  border-radius: .5rem;
  padding: .3rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

#newMaterial, #newMeasurement {
  margin-right: 0.5rem;
}

.add-materials-form input,
.add-materials-form select,
.add-materials-form textarea {
  background-color: rgb(249, 249, 249);
}

.add-materials-form #submit {
  background-color: rgb(46, 80, 97);
  border: 1px solid rgb(46, 80, 97);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  float: right;
}

.add-materials-form #cancel {
  background-color: white;
  color: rgb(46, 80, 97);
  border: 1px solid rgb(46, 80, 97);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.add-materials-form .react-tel-input .form-control {
  width: 100%;
  background-color: rgb(249, 249, 249);
}

.price-currency {
  justify-content: space-between;
}