.pieChartWrapper {
  display: flex;
  align-items: center;
}

.pieChart {
  margin-right: 32px;
}

.pieChartLegendHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-weight: 500;
}

.pieChartLegendItem {
  position: relative;
  margin: 12px 0;
  display: flex;
  align-items: baseline;
  text-align: start;
  font-size: 14px;
}

.dataLegendColor {
  position: absolute;
  top: 2px;
  left: -28px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin-right: 12px;

  border-radius: 50%;
}

.dataLegendInfo {
  width: 240px;
  display: flex;
  justify-content: space-between;

  color: rgba(0, 0, 0, 0.5);
}

.dataLegendInfoPart:not(:last-child) {
  margin-right: 24px;
}

@media (max-width: 670px) {
  .pieChartWrapper {
    flex-direction: column;
  }
}

div.tooltipDonut {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1rem;
  word-wrap: break-word; /* Ensures long text wraps within the tooltip */
  white-space: normal;
}

div.pieChartLegendContainer {
  min-width: 150px;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #baaeae;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: rgb(15, 15, 15);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Optional: Dark mode adjustments */
.textLight .slider {
  background-color: #ffffff;
}

.textLight input:checked + .slider {
  background-color: #4CAF50;
}
