.item__overview {
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 40px 30px 40px;
  padding: 10px 0px 10px 0px;
  width: auto;
  height: auto;
}

.item__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5% 2.5% 1.5% 2.5%;
  width: 100%;
}

.item__basic__details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item__payment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item__details__title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.item__basic__details label {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.item-image {
  width: 40%;
  height: 40%;
  max-width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.item__form {
  margin-top: 50px;
  width: 80%;
}

.txt-bold {
  font-weight: bold;
}

.dates-font {
  font-size: 0.7rem;
}

.item__payment label {
  width: 100%;
}

/* Style for date inputs */
.item__payment input[type="date"] {
  width: 25%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  appearance: none;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.item__payment input[type="text"] {
width: 45%;
}