.resourceManagementDashboard {
  padding: 20px;
}

.dashboardTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.dashboardTitle h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.addLogButton {
  background-color: #d3d3d3;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.addLogButton:hover {
  background-color: #b3b3b3;
}

.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.searchBarContainerLeft {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.2em;
}

.searchBarContainerRight {
  display: flex;
  gap: 10px;
}

.searchInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0056b3;
}

.resourceList {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.checkboxContainer {
  flex: 0;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resourceHeading,
.resourceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.resourceHeadingItem {
  flex: 1;
  text-align: left;
  color: #555;
  font-weight: bold;
}

.resourceItemDetail {
  flex: 1;
  text-align: left;
  color: #333;
}

.calendarIcon {
  margin-right: 5px;
}

.lineSperator {
  border: none;
  border-top: 1px solid #ddd;
}

.rmPagination {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
}

.rmPagination button {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
}

.rmPagination button:hover {
  background-color: #007bff;
  color: white;
}

.arrow-button {
  font-weight: bold;
  padding: 5px 15px;
}
