.App {
  text-align: center;
}



.accordion-toggle:after {

  font-family: 'FontAwesome';
  content: "\f054";
  float: right;
}

.accordion-toggle.collapsed:after {
/* symbol for down chevron*/
content: "\f078";
}

.dashboardbutton
{
background-color: black;
  border: black;
}



.hgn-leaderboard
{
/*background-color:#FFCCBC */
background-color: black
}
