
.profileContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: grey;
  padding: 10px;
  padding-bottom: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.profileEditButton{
  display: flex;
  padding: 0.25em 0.4em;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.profileEditButtonContainer{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1%;
  justify-content: flex-end;
}

.profilePicture {
  width: 25vh;
  height: 25vh;
}

.whoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  margin-left: 5%;
  margin-right: 5%;
}

.detailSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  margin-left: 5%;
  margin-right: 5%;
}

.profileLinks{
  display: flex;
  width: 80%;
  align-items: center;
  padding: 5px;
}

@media only screen and (max-width: 750px) {
  .whoSection{
    width: 250px;
  }
  .detailSection{
    width: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .profilePicture {
    width: 20vh;
    height: 20vh;
  }
}

@media only screen and (max-height: 500px){
  .profilePicture {
    width: 30vh;
    height: 30vh;
  }
}

/* 
@media only screen and (max-width: 400px) {
} */
