.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  padding-bottom: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
  font-weight: bold;
  background-color: white;
}

.iconContainer {
  display: flex;
  flex-direction: row;
}

.icon {
  padding-right: 10px;
}

.profileEditButton {
  display: flex;
  padding: 0.25em 0.4em;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  border-radius: 20px;
  background-color: dodgerblue;
  color: white;

  &:hover {
    text-decoration: none;
  }
}

.profileEditButtonContainer {
  position: absolute;
  display: flex;
  right: 1%;
  justify-content: flex-end;
}

.profilePicture {
  width: 150px;
  height: 150px;
}

.whoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5vh;
  padding: 5vh;
}

.detailSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10vh;
  margin-left: 10vh;
}

.detailSection {
  width: 300px;
}

.profileLinks {
  display: flex;
  width: 80%;
  align-items: center;
  padding: 5px;
}

.linkIconSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: orange;
  font-weight: bold;
  margin: 5px;
}

@media only screen and (max-width: 750px) {
  .profileContainer {
    justify-content: space-around;
  }
  .whoSection {
    width: 250px;
  }
  .detailSection {
    width: 250px;
  }
}

@media only screen and (max-height: 650px) {
  .profileContainer {
    justify-content: space-around;
  }
  .whoSection {
    width: 240px;
  }
  .detailSection {
    width: 240px;
  }
}
