/* stylelint-disable  */
.recordsModalTableContainer {
  overflow: scroll;
  height: 75vh;
  text-align: center;
  font-size: small;
  white-space: nowrap;
}

@media (width >= 1200px) {
  .recordsModalTableContainer {
    font-size: medium;
  }
}