.container-tasks {
  margin: 20px;
  width: calc(100% - 40px);
}

/*
.container {
  overflow: auto;
}
*/

.level-space-1 {
  margin-left: 0px;
}

.level-space-2 {
  margin-left: 15px;
}

.level-space-3 {
  margin-left: 25px;
}

.level-space-4 {
  margin-left: 35px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-task {
  position: relative;
  z-index: -50;
  opacity: 0.1;
}
.load {
  position: relative;
}
.dot {
  height: 24px;
  width: 24px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.img-circle {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-hour {
  width: 35px;
}

.task-resouces-input {
  width: 90%;
}

.task-resouces-btn {
  width: 10%;
}

.task-reousces-list {
  margin-top: 3px;
  float: left;
  width: 100%;
}

.wbsTaskController {
  display: contents;
}

.wbsTask {
  line-height: 22px;
}
/* Ensured task-action-buttons has a flex display to properly align the buttons */
.task-action-buttons {
  display: flex;
  justify-content: flex-start;
}
/* Added controlBtn class to ensure uniform margin between buttons */
.controlBtn {
  margin-right: 8px; /* Adds margin between buttons */
}


.controlBtn {
  float: left;
  margin-left: 10px;
}


.controlTd {
  background-color: #effff2;
}

.controlBtn_remove {
  float: right;
}

.newTask {
  background-color: #effff2;
}

.table td {
  padding: 4px 8px;
  line-height: 1.2;
  height: 40px
}

.taskNum {
  width: 80px;
}

.taskName {
  height: auto;
}

.taskDrop {
  width: 100%;
  background: #effff2;
  display: none;
}

.name {
  margin-right: 2px;
}

.resourceMoreToggle {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100%; /* Ensures it takes up the full height of the cell */
}

.resourceMore {
  display: none;
  justify-content: center; /* Centers the element horizontally */
  align-items: center;
}

.warning {
  color: red;
  font-size: 10px;
}

.toggle-all {
  float: right;
}

.tasks-table {
  overflow-x: scroll;
  width: 100% !important;
}

.action-edit-btn {
  padding-right: 5px;
}

.flex-responsive {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  min-width: 100px;
}

@media (max-width: 250px) {
  .flex-responsive{
    flex-direction: column;
  }

  .text-nowrap{
    text-wrap: wrap !important;
  }
}

@media only screen and (max-width: 600px) {
  .desktop-view {
    display: none;
  }

  .table td {
    padding: 5px;
    line-height: 1.2;
    height: 40px
  }
}

@media (min-width: 200px) and (max-width: 1496px) {
  table.responsive {
    table-layout: fixed;
  }

  .flex-responsive {
    display: flex;
    flex-direction: row;

  }
}


.add_new_task_form-group{
  width: 100%;
  padding: 0;
  display: flex;
  border: .01em solid #cdcbcb;
}

.add_new_task_form-label{
  width: 30%;
  padding: .5em .25em;
  margin-left: .25em;
}
.add_new_task_form-input_area{
  width: 70%;
  padding: 0;
  margin: .25em;
  border-left: 1px solid #bbb;
  padding-left: .25em;
}
.tasks-detail-task-name { /* task column height and width changes*/
  width: 35%; 
 /* task column height and width changes*/
  height: auto; 
}
.tasks-detail-actions {  /* action column width reduced */
  width: 6%; 
}
@media (max-width: 768px) { /* arranging the buttons */
  .button-group button {
    margin-bottom: 10px;
  }
}