.container{
  overflow: auto;
}

.level-space-1{
  margin-left: 0px;
  font-weight: bold;
}

.level-space-2{
  margin-left: 10px;
}

.level-space-3{
  margin-left: 20px;
}

.level-space-4{
  margin-left: 30px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  padding: 3px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin: 3px;
}

.task-name{
  width: 100%;
}

.task-hour{
  width: 35px;
}

.task-resouces-input{
  width: 80%;
  float:left;
}
.task-resouces-btn{
  width: 20%;
  float:right;
}
.task-reousces-list{
  margin-top: 3px;
  float: left;
  width: 100%;
}