.team-report-main-info-wrapper {
  margin-top: 24px;
  height: 60px;
}

.team-report-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.team-report-star {
  color: #996cd3;
}

.update-date {
  color: #a1a1a1;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.team-report-blocks {
  grid-template-rows: 60px 1fr;
}

.team-report-avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #a780d9;
  border: 3px solid #e5daf0;
}

.team-report-icon {
  width: 50px;
  height: 50px;
  color: #faf7fd;
}