.purchaseToolForm {
  margin-top: 2rem;
}

.purchaseToolForm input,
.purchaseToolForm select {
  background-color: rgb(249, 249, 249);
}

.purchaseToolFlexGroup {
  display: flex;
  gap: 2rem;
}

.purchaseToolFlexGroup input {
  width: 100px;
}

.flexGroupQty {
  width: 50%;
}

.flexGroupQtyContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.purchaseToolButtons {
  display: flex;
  gap: 1rem;
  margin: 0 auto 2rem;
}

.purchaseToolButtons button {
  width: 50%;
}

.purchaseToolError {
  height: 2.5rem;
  color: red;
}

@media screen and (max-width: 640px) {
  .purchaseToolFlexGroup {
    display: block;
  }
  .flexGroupQty {
    width: auto;
  }
}