.team-stats-bar-chart {
  position: relative;
  width: 100%;
}

.team-stats-title {
  text-align: center;
  margin-bottom: 20px;
  color: black;
  position: relative;
}

.team-stats-value {
  font-weight: bolder;
}
