.permissions-management {
  padding: 1.5rem 3rem;
  width: 40%;
  min-width: 400px;
  margin: 1.5rem auto;
  box-shadow: 1px 1px 8px rgb(158, 158, 158);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.permissions-management-dark {
  padding: 1.5rem 3rem;
  width: 40%;
  min-width: 400px;
  margin: 1.5rem auto;
  box-shadow: 1px 1px 8px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.permissions-management__header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.permissions-management__title {
  font-size: 1.8rem;
}

.createRole__alert {
  margin-top: 0.4rem;
}

#modal-content__new-role {
  width: 100%;
  max-width: 700px;
  right: 7%;
}

#modal-body_new-role--padding {
  padding: 1.5rem 3rem;
}

.dropdown__user-perms {
  max-height: 420px;
  width: '100%';
  overflow-y: auto;
}

.user__auto-complete {
  cursor: pointer;
  padding: 5px;
}
.user__auto-complete:hover {
  background: #1d62f0;
}

.user-permissions-pop-up__title {
  padding-top: 0.5rem;
  font-size: 1.2rem;
}

.user-role-tab__permission {
  border-bottom: solid 1px #ced4da;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5px;
  padding-top: 5px;
}

#info-icon__permissions {
  cursor: pointer;
  align-self: flex-end;
}

.permissions-management--flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.role-name-container {
  display: flex;
  flex-direction: column;
  border: solid 1px lightgrey;
  border-radius: 8px;
  min-width: 300px;
  height: 450px;
  max-height: 480px;
  overflow: auto;
}

.role-name-container::-webkit-scrollbar {
  width: 5px;
}

.role-name-container::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
}

.role-name-container::-webkit-scrollbar-thumb {
  background: rgb(206, 212, 218);
  border-radius: 8px;
}

.role-name{
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer; 
  display: flex;
  align-items: center;
}

.role-btn {
  text-align: center;
  flex-grow: 1;
}

.infos{
  margin-left: auto;
  text-align: center;
  align-items: center;
  padding-bottom: 8px;
}


.role-name:hover {
  background-color: lightgrey;
}

.role-name-dark:hover {
  background-color: #1C2541;
}


.loading-message {
  font-size: 30px;
}

.ContainerReminder{
  width: 400px;
  height: 250px;
  position: fixed;  
  top: 50%;
  left: 82%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 11111;
  border: 1px solid #ccc;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 10px black;
}

.ReminderTitle{
  display: flex;
  justify-content: center;
  flex: 1;
}
.ReminderTitle h2{
  color: black;
  font-size: 22px;
  align-items: center;
  display: flex;
}

.ReminderBody{
  flex: 3;
  padding: 0px 15px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReminderButton{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  padding-left: 15px;
  gap: 20px;
}
.ReminderButton button:first-child{
  height: 80%;
  width: 140px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.ReminderButton button:nth-child(2){
  background-color: red;
  color: #fff;
  height: 80%;
  width: 70px;
  margin-right: 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

 


@media only screen and (max-width: 1199px) {
  .permissions-management__header {
    flex-direction: column;
  }
}
